<h1>Bienvenidos</h1>


<div class="jumbotron">
  <h1>Materia-Grupo!</h1>
  <p>Registra Materias</p>
  <p><a class="btn btn-primary btn-lg" href="/crearMateria" role="button">Registrar Materias</a></p>
</div>
